/* some default styles to make the view more native like */

::placeholder { /* Firefox, Chrome, Opera */ 
  color: rgba(255, 255, 255, 0.3);
} 

:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
  color: rgba(255, 255, 255, 0.3); 
} 

::-ms-input-placeholder { /* Microsoft Edge */ 
  color: rgba(255, 255, 255, 0.3); 
}

html {
  box-sizing: border-box;
  background: transparent;

  /* Prevent the page to be scrollable */
  overflow: hidden;

  /* Force the default cursor, even on text */
  cursor: default;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: rgba(49, 53, 59, 0.96);
  background: rgb(21, 32, 43);
}

.sf-header {
  padding: 8px;
  border-bottom: 1px solid #40454C;
}

.sf-search {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.sf-search::before {
  content: '';
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSIjOUZBNkIwIiBkPSJNMTUuNSAxNGgtLjc5bC0uMjgtLjI3QzE1LjQxIDEyLjU5IDE2IDExLjExIDE2IDkuNSAxNiA1LjkxIDEzLjA5IDMgOS41IDNTMyA1LjkxIDMgOS41IDUuOTEgMTYgOS41IDE2YzEuNjEgMCAzLjA5LS41OSA0LjIzLTEuNTdsLjI3LjI4di43OWw1IDQuOTlMMjAuNDkgMTlsLTQuOTktNXptLTYgMEM3LjAxIDE0IDUgMTEuOTkgNSA5LjVTNy4wMSA1IDkuNSA1IDE0IDcuMDEgMTQgOS41IDExLjk5IDE0IDkuNSAxNHoiLz48cGF0aCBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+PC9zdmc+) no-repeat center;
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.sf-search input {
  display: block;
  width: 100%;
  flex: 1;
  height: 32px;
  padding-left: 40px;
  padding-right: 32px;
  border: 1px solid transparent;
  border-radius: 32px;
  font-size: 1rem;
  outline: none;
  color: #FFF;
  background: rgb(37, 51, 65);
  transition: .2s;
  position: relative;
}

.sf-search input:active,
.sf-search input:focus {
  background: transparent;
  border: 1px solid #009BFF;
}

.sf-search__remove {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSIjOUZBNkIwIiBkPSJNMTkgNi40MUwxNy41OSA1IDEyIDEwLjU5IDYuNDEgNSA1IDYuNDEgMTAuNTkgMTIgNSAxNy41OSA2LjQxIDE5IDEyIDEzLjQxIDE3LjU5IDE5IDE5IDE3LjU5IDEzLjQxIDEyeiIvPjxwYXRoIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz48L3N2Zz4=) no-repeat center;
  display: none;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1;
}

.sf-search__remove.active {
  display: block;
}

.sf-finder {
  display: flex;
  color: #FFF;
  width: 100vw;
  overflow: scroll;
  padding: 0 8px;
  transition: .2s;
}

.sf-finder.blurred {
  filter: blur(4px);
}

.sf-finder-col {
  width: 180px;
  padding-top: 4px;
  height: calc(100vh - 48px);
  overflow: scroll;
  border-right: 1px solid #40454C;
  flex-shrink: 0;
}

.sf-finder-col.sf-preview {
  width: 360px;
}

.sf-preview__img {
  width: 24px;
  height: 24px;
  margin: 24px auto;
  text-align: center;
  cursor: pointer;
}

.sf-preview__title {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.3);
  text-align: center;
}

.sf-finder-row {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 1.5px 8px 1.5px 20px;
  border-radius: 3px;
  position: relative;
}

.sf-finder-row.selected {
  background: #009BFF;
}

.sf-finder-row.has-children {
  cursor: pointer;
}

.sf-finder-row.has-children::after {
  content: '';
  display: block;
  background: transparent;
  border-left: 5px solid #FFF;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  position: absolute;
  top: 50%;
  right: 2px;
  transform: translateY(-50%);
}

.sf-finder-row.has-children::before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSIjNzdDQUZGIiBkPSJNMTAgNEg0Yy0xLjEgMC0xLjk5LjktMS45OSAyTDIgMThjMCAxLjEuOSAyIDIgMmgxNmMxLjEgMCAyLS45IDItMlY4YzAtMS4xLS45LTItMi0yaC04bC0yLTJ6Ii8+PHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPjwvc3ZnPg==) no-repeat center;
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 2px;
  transform: translateY(-50%);
}

.sf-finder-search {
  display: flex;
  background: rgba(21, 32, 43, 0.3);
  visibility: hidden;
  opacity: 0;
  color: #FFF;
  width: 100vw;
  height: calc(100vh - 48px);
  overflow: scroll;
  padding: 0 8px;
  position: absolute;
  top: 48px;
  left: 0;
  transition: .2s;
}

.sf-finder-search.show {
  visibility: visible;
  opacity: 1;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  position: relative;

  /* Prevent the content from being selectionable */
  -webkit-user-select: none;
  user-select: none;
}

input, textarea {
  -webkit-user-select: auto;
  user-select: auto;
}
